header{
  position: relative;
  background-color: #000;
  .headerCenter{
    img{
      @include center-block;
      width: 150px;
      padding: 6% 0%;
      @include breakpoint(medium){
        width: 100%;
      }
    }
  }
}
