{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}Checkin - {{ planData.plan.name }} - KIKO.LA{% endblock %}

{% block content %}      
    <section id="content" class="checkin">
    	<h1>it works</h1>
    </section>
{% endblock %}