{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}{{ planData.plan.name }} - KIKO.LA{% endblock %}

{% block content %}
    <section class="restaurant-detail row">
        <div class="restaurant-banner">
            <div class="slider">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">
                {% for gallery in planData.plan.mainGallery %}
                    <!-- new slide -->
                    <div class="ms-slide">
                        <!-- slide background -->
                        <img src="{{ gallery }}filename.jpg">
                        <!-- slide text layer -->
                         <!--
                        <div class="ms-layer ms-caption" style="top:10px; left:30px;">
                            Lorem ipsum dolor sit amet
                        </div>-->
                    </div>
                    <!-- end of slide -->
                {% endfor %}
                </div>
                <!-- end of masterslider -->
                <h1>{{ planData.plan.name }}</h1>
            </div>
            <!-- 
            <div class="features-menu">
                <ul>
                    <li class="col-xs-12 col-md-3"><a href="check-in">Check in now</a></li>
                    <li class="col-xs-12 col-md-3"><a href="share">Add to Wishlist</a></li>
                    <li class="col-xs-12 col-md-3"><a href="view_order">Location</a></li>
                    <li class="col-xs-12 col-md-3"><a href="view_order">Taxi</a></li>
                </ul>
            </div>
            -->
            <div class="features-menu">
                <ul>
                    <li class="col-xs-12 col-md-6"><a href="check-in">Online check-in</a></li>
                    <li class="col-xs-12 col-md-6"><a href="#" data-toggle="modal" data-target="#d-location-modalbox">Location</a></li>
                </ul>
            </div>                
        </div>
    </section>
    <div class="modal fade" id="d-location-modalbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">{{ planData.plan.name }}: Plan location</h4>
          </div>
          <div class="modal-body">
            <p>{{ planData.plan.location }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a href="check-in" type="button" class="btn btn-primary">Online Checkin</a>
          </div>              
        </div>
      </div>
    </div>
{% endblock %}