{% extends 'base.html' %}
{% block title %}Contact - KIKO.LA{% endblock %}

{% block content %}
    <div class="row" id="contactform">
        <form action="/en/contact/" method="post">
            {% csrf_token %}
            <h1>CONTACT US</h1>
            {{ form }}
            <input type="submit" value="Submit" />
        </form>           
    </div> 

{% endblock %}