<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Demystifying Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#010101" style="padding:0; color: #FFF; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                            <img width="453" height="92" src="http://kiko.la/media/mail/header.jpg" style="display: block;" alt="KIKO.LA">
                        </td>
                    </tr>
                    <tr style="padding: 0px 20px;">
                        <td>
                            <h1>Nuevo contacto en KIKO.LA</h1>
                            <p>Asunto: {{ Contact.topic }}</p>
                            <p>Nombre: {{ Contact.name }}</p>
                            <p>Correo: {{ Contact.email }}</p>
                            <p>Mensaje: {{ Contact.message }}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>