{% extends 'base.html' %}
{% block title %}Thank you - KIKO.LA{% endblock %}

{% block content %}
<div class="row" id="thankyou">
    <h1>Contact Information</h1>
    <p>Thank you for contacting us.</p>
    <p>We will attempt to get back to you within 48 hours</p>
    <p><a class="button" href="/">BACK TO INDEX</a></p>
</div>

{% endblock %}