{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}Hotel - KIKO.LA{% endblock %}

{% block content %}
    <section class="restaurants-grid row container d-chocolate" id="content">
        {% if data %}
        {% for hotel in data %}
            <div class="column chocolate col-xs-12 col-md-4 col-lg-4">
                <div class="d-grid-image d-grid-image">
                    <a href="/hotels/{{ hotel.city.machineName }}/{{ hotel.machineName }}/">
                        <img class="img-responsive" src="{{ hotel.image.url }}">
                    </a>
                </div>
                <div class="d-grid-name">
                    <a href="/hotels/{{ hotel.city.machineName }}/{{ hotel.machineName }}">
                        {{ hotel.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
      {% else %}
        <p>No Restaurant are available.</p>
      {% endif %}
      <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='19312383'></div>
    </section>
    <!--
    <section id="falta">
        <a title="Falta su negocio" href="/features"><img src="{% static "images/falta-su-negocio.jpg" %}"></a>
    </section>
    -->
{% endblock %}
