{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}{{ data.name }} - KIKO.LA{% endblock %}

{% block content %}
        <section class="restaurant-detail row">
            <div class="restaurant-banner">
                <div class="slider">
                    <!-- masterslider -->
                    <div class="master-slider ms-skin-default" id="masterslider">
                    {% for gallery in data.mainGallery %}
                        <!-- new slide -->
                        <div class="ms-slide">
                            <!-- slide background -->
                            <img src="{{ gallery }}filename.jpg">
                            <!-- slide text layer -->
                             <!--
                            <div class="ms-layer ms-caption" style="top:10px; left:30px;">
                                Lorem ipsum dolor sit amet
                            </div>-->
                        </div>
                        <!-- end of slide -->
                    {% endfor %}

                    </div>
                    <!-- end of masterslider -->
                    <h1>{{ data.name }}</h1>
                </div>
                <div class="features-menu">
                    <ul>
                        <li class="col-xs-12 col-md-6"><a target="_blank" href="{{ data.bookingUrl}}">See on booking.com</a></li>
                        <li class="col-xs-12 col-md-6"><a target="_blank" href="http://maps.google.com/?ie=UTF8&hq=&ll=35.028028,-106.536655&z=13">Location</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="modal fade" id="d-location-modalbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">{{ data.name }}: Hotel location</h4>
              </div>
              <div class="modal-body">
                {{ data.location }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a target="_blank" href="{{ data.bookingUrl}}" type="button" class="btn btn-primary">See on booking.com</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
