.cms_plugin-1882{
  margin-top: 10px;
  @include breakpoint(medium){
    margin-top: 25px;
  }
}
footer{
  background-color: #000;
  height: 40px;
  .cms_plugin{
    display: inline-block !important;
    width: 50%;
  }
  h2{
    color: #fff;
    font-family: 'open_sanssemibold';
    font-weight: normal;
    line-height: 40px;
    font-size: 90%;
    margin: 0;
    @include breakpoint(medium){
      font-size: 120%;
      margin-bottom: 0%;
    }
  }
}
