/* Helpers */
/* Breakpoints */
/* Font size */
html {
  font-size: 62.5%; }

/* Grid */
/* Colors */
/* Font */
/* Base */
@font-face {
  font-family: 'oxygenregular';
  src: url("../fonts/oxygen-webfont.eot");
  src: url("../fonts/oxygen-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen-webfont.woff2") format("woff2"), url("../fonts/oxygen-webfont.woff") format("woff"), url("../fonts/oxygen-webfont.ttf") format("truetype"), url("../fonts/oxygen-webfont.svg#oxygenregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  font-family: "open_sansregular";
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal; }

h1 {
  font-family: "open_sansregular";
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold; }

h2 {
  font-family: "open_sansregular";
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold; }

a:hover {
  text-decoration: none; }

/* Layout */
.row {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 64.375em) {
    .row {
      width: 80%; } }

header {
  position: relative;
  background-color: #000; }
  header .headerCenter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 6% 0%; }
    @media (min-width: 48em) {
      header .headerCenter img {
        width: 100%; } }

#content {
  background-color: #FFF; }
  #content .jumbotron {
    padding: 0;
    margin: 0;
    background-color: #fff; }

#prefooter {
  padding: 0px 10px; }

.cms_plugin-1882 {
  margin-top: 10px; }
  @media (min-width: 48em) {
    .cms_plugin-1882 {
      margin-top: 25px; } }

footer {
  background-color: #000;
  height: 40px; }
  footer > * {
    float: left;
    width: 50%; }
  footer h2 {
    color: #fff;
    font-family: 'open_sanssemibold';
    font-weight: normal;
    line-height: 40px;
    font-size: 90%;
    margin: 0; }
    @media (min-width: 48em) {
      footer h2 {
        font-size: 120%;
        margin-bottom: 0%; } }

/* Components */
.button, input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  width: 40%;
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  font-family: "open_sansregular";
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1% 0%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 3%; }

.features-menu {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  _height: 15px;
  width: 100%;
  text-align: center;
  margin-top: 2%; }
  .features-menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .features-menu ul li {
      margin-bottom: 1%;
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      *display: inline;
      _height: 15px;
      vertical-align: top; }
      @media (max-width: 37.5em) and (orientation: portrait) {
        .features-menu ul li {
          display: table;
          width: 100%;
          text-align: center;
          padding: 0; } }
      .features-menu ul li > a {
        background-color: #242424;
        color: #fff;
        display: block;
        height: 45px;
        line-height: 45px;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        letter-spacing: 1.39999997615814px;
        text-transform: uppercase; }
        @media (max-width: 37.5em) and (orientation: portrait) {
          .features-menu ul li > a {
            font-size: 10px;
            line-height: 15px;
            display: table-cell;
            vertical-align: middle;
            text-align: center; } }
      .features-menu ul li > a:hover {
        background-color: #0a0a0a; }
      .features-menu ul li a {
        padding: 0 10%; }

.footer-menu {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer-menu li {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    _height: 15px;
    margin-right: 30px; }
    .footer-menu li a {
      color: #fff;
      text-transform: uppercase;
      font-family: 'open_sanssemibold';
      font-weight: normal;
      line-height: 40px;
      font-size: 90%;
      margin: 0; }
      @media (min-width: 48em) {
        .footer-menu li a {
          font-size: 120%;
          margin-bottom: 0%; } }

.menu-home {
  background-color: #FFF;
  width: 100%;
  list-style-type: none;
  padding: 0% 1%;
  margin-top: 5%; }
  .menu-home li {
    padding: 0% 1%; }
    @media (min-width: 48em) {
      .menu-home li {
        padding: 0 15px; } }
    .menu-home li a {
      background-color: #000;
      color: #FFF;
      display: block;
      text-align: center;
      padding: 4% 0%;
      font-family: "open_sansregular";
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1.5;
      -webkit-font-smoothing: subpixel-antialiased;
      letter-spacing: 1.39999997615814px;
      -webkit-font-smoothing: antialiased;
      font-weight: normal; }
      @media (min-width: 48em) {
        .menu-home li a {
          font-family: "open_sansregular";
          font-size: 20px;
          font-size: 2rem;
          line-height: 1.5;
          -webkit-font-smoothing: subpixel-antialiased;
          letter-spacing: 1.39999997615814px;
          -webkit-font-smoothing: antialiased;
          font-weight: normal; } }

.topmenu {
  margin-top: 7px;
  position: relative;
  right: 5px; }
  @media (min-width: 48em) {
    .topmenu {
      right: 0;
      margin-top: 20px; } }
  @media (min-width: 700px) and (orientation: landscape) {
    .topmenu {
      margin-top: 30px; } }
  @media (min-width: 64.375em) {
    .topmenu {
      margin-top: 40px; } }
  .topmenu #topmenu-call {
    font-family: "open_sansregular";
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 1.39999997615814px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #cccccc;
    text-transform: uppercase; }
    @media (min-width: 48em) {
      .topmenu #topmenu-call {
        font-family: "open_sansregular";
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.5;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: 1.39999997615814px;
        -webkit-font-smoothing: antialiased;
        font-weight: normal; } }
    @media (min-width: 64.375em) {
      .topmenu #topmenu-call {
        font-family: "open_sansregular";
        font-size: 30px;
        font-size: 3rem;
        line-height: 1.5;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: 1.39999997615814px;
        -webkit-font-smoothing: antialiased;
        font-weight: normal; } }
  .topmenu #topmenu-call:before {
    content: "\f0c9";
    font: normal normal normal 22px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: block;
    cursor: pointer; }
    @media (min-width: 48em) {
      .topmenu #topmenu-call:before {
        font: normal normal normal 65px/1 FontAwesome; } }
    @media (min-width: 700px) and (orientation: landscape) {
      .topmenu #topmenu-call:before {
        font: normal normal normal 85px/1 FontAwesome; } }
  .topmenu .top-menu {
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0; }

.d-menu .chocolate, .restaurant-detail .menu .chocolate {
  margin-bottom: 1.5%; }
  .d-menu .chocolate h2, .restaurant-detail .menu .chocolate h2 {
    margin: 2% 0%;
    margin-bottom: 0%;
    font-size: 160%; }
    @media (min-width: 48em) {
      .d-menu .chocolate h2, .restaurant-detail .menu .chocolate h2 {
        font-size: inherit; } }
  .d-menu .chocolate p, .restaurant-detail .menu .chocolate p {
    margin-bottom: 0%;
    font-size: 140%; }
    @media (min-width: 48em) {
      .d-menu .chocolate p, .restaurant-detail .menu .chocolate p {
        font-size: inherit; } }
  .d-menu .chocolate a, .restaurant-detail .menu .chocolate a {
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    padding: 0% 5%; }
    @media (min-width: 48em) {
      .d-menu .chocolate a, .restaurant-detail .menu .chocolate a {
        font-size: 130%;
        padding: 0%; } }
    @media (min-width: 700px) and (orientation: landscape) {
      .d-menu .chocolate a, .restaurant-detail .menu .chocolate a {
        font-size: 85%; } }
  .d-menu .chocolate a.last, .restaurant-detail .menu .chocolate a.last {
    border-right: none; }
  .d-menu .chocolate .d-more-info, .restaurant-detail .menu .chocolate .d-more-info {
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    width: 100%;
    font-size: 90%; }
    @media (min-width: 48em) {
      .d-menu .chocolate .d-more-info, .restaurant-detail .menu .chocolate .d-more-info {
        font-size: 80%;
        padding: 0%;
        width: 100%; } }
    @media (min-width: 64.375em) {
      .d-menu .chocolate .d-more-info, .restaurant-detail .menu .chocolate .d-more-info {
        font-size: 90%; } }
    .d-menu .chocolate .d-more-info a, .restaurant-detail .menu .chocolate .d-more-info a {
      background: #000;
      color: #fff;
      padding: 2% 0%; }
    .d-menu .chocolate .d-more-info a.first, .restaurant-detail .menu .chocolate .d-more-info a.first {
      border-right: solid 2px #fff; }
    .d-menu .chocolate .d-more-info a.last, .restaurant-detail .menu .chocolate .d-more-info a.last {
      border-left: solid 2px #fff; }
  .d-menu .chocolate .d-grid-name, .restaurant-detail .menu .chocolate .d-grid-name {
    text-align: center; }

#contactform, .checkin #checkin-form, .checkin #registration-form {
  width: 80%;
  margin: 0 auto; }
  #contactform h1, .checkin #checkin-form h1, .checkin #registration-form h1 {
    text-align: center; }
  #contactform .wrapper, .checkin #checkin-form .wrapper, .checkin #registration-form .wrapper {
    border: solid 1px #000;
    margin: 3% 0%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px; }
    #contactform .wrapper > div, .checkin #checkin-form .wrapper > div, .checkin #registration-form .wrapper > div {
      border-bottom: solid 1px #000;
      padding: 2% 0%;
      position: relative; }
      #contactform .wrapper > div label, .checkin #checkin-form .wrapper > div label, .checkin #registration-form .wrapper > div label {
        text-transform: uppercase;
        font-family: "open_sansregular";
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.5;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: 1.39999997615814px;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        padding-left: 3%;
        line-height: 42px; }
    #contactform .wrapper > div:last-child, .checkin #checkin-form .wrapper > div:last-child, .checkin #registration-form .wrapper > div:last-child {
      border-bottom: none; }

input,
select,
textarea {
  padding: 1rem;
  -webkit-appearance: none !important;
  outline: 0;
  font-weight: 600;
  display: block;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  width: 100%; }

#d-login-modal .actions input {
  width: 48%;
  font-size: 100%; }

#d-login-modal .actions .right {
  float: right; }

body {
  background-color: #fff;
  font-family: "open_sansregular";
  font-size: 14px; }
  body .cms_plugin {
    display: block; }

img {
  width: 100%;
  height: auto;
  display: block; }

.d-hide {
  display: none; }

.no-content {
  text-transform: uppercase;
  text-align: center; }

.no-full img {
  margin: 0 auto;
  width: 50%; }
  @media (min-width: 48em) {
    .no-full img {
      width: inherit; } }

#falta {
  margin-bottom: 2%; }

.producttype .d-menu {
  margin-top: 0; }

.producttype .category-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 380% !important;
  margin: 0 !important;
  font-weight: normal; }

.bg-blank {
  background-color: #000; }

.inner {
  padding: 0; }

.cms_toolbar {
  overflow: hidden; }

.column,
.cms_plugin-103,
.cms_plugin-244 {
  padding: 0 10px; }

.falta-block {
  clear: both; }

.headerLeft {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  text-align: left; }
  .headerLeft #back {
    cursor: pointer;
    font-family: "open_sansregular";
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 1.39999997615814px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #cccccc;
    text-transform: uppercase;
    position: relative;
    top: 6px; }
    @media (min-width: 48em) {
      .headerLeft #back {
        font-family: "open_sansregular";
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.5;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: 1.39999997615814px;
        -webkit-font-smoothing: antialiased;
        font-weight: normal;
        top: 17px; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      .headerLeft #back {
        font-family: "open_sansregular";
        font-size: 10px;
        font-size: 1rem;
        line-height: 1.5;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: 1.39999997615814px;
        -webkit-font-smoothing: antialiased;
        font-weight: normal;
        letter-spacing: -0.5px; } }
    @media (min-width: 700px) and (orientation: landscape) {
      .headerLeft #back {
        top: 25px; } }
    @media (min-width: 64.375em) {
      .headerLeft #back {
        font-family: "open_sansregular";
        font-size: 30px;
        font-size: 3rem;
        line-height: 1.5;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: 1.39999997615814px;
        -webkit-font-smoothing: antialiased;
        font-weight: normal;
        top: 20px; } }
    .headerLeft #back img {
      width: 40px;
      height: auto; }
      @media (min-width: 48em) {
        .headerLeft #back img {
          width: 100px; } }
      @media (min-width: 64.375em) {
        .headerLeft #back img {
          width: 150px; } }
  .headerLeft #back:before {
    content: "\f104";
    display: block;
    font: normal normal normal 22px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media (min-width: 48em) {
      .headerLeft #back:before {
        font: normal normal normal 65px/1 FontAwesome; } }
    @media (min-width: 700px) and (orientation: landscape) {
      .headerLeft #back:before {
        font: normal normal normal 85px/1 FontAwesome; } }
    @media (min-width: 64.375em) {
      .headerLeft #back:before {
        font: normal normal normal 100px/1 FontAwesome; } }

.chocolate .column {
  width: 100% !important; }
  @media (min-width: 48em) {
    .chocolate .column {
      width: 33.33% !important; } }
  .chocolate .column table {
    margin: 15px 0px; }
    @media (max-width: 37.5em) and (orientation: portrait) {
      .chocolate .column table td {
        display: table;
        width: 100%;
        text-align: center;
        padding: 0; } }
    .chocolate .column table td > a {
      background-color: #242424;
      color: #fff;
      display: block;
      height: 45px;
      line-height: 45px;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      letter-spacing: 1.39999997615814px;
      text-transform: uppercase; }
      @media (max-width: 37.5em) and (orientation: portrait) {
        .chocolate .column table td > a {
          font-size: 10px;
          line-height: 15px;
          display: table-cell;
          vertical-align: middle;
          text-align: center; } }
    .chocolate .column table td > a:hover {
      background-color: #0a0a0a; }

.d-chocolate {
  padding: 0;
  margin-top: 25px;
  font-size: 0; }
  .d-chocolate .d-grid-name {
    text-align: center; }
    @media (max-width: 37.5em) and (orientation: portrait) {
      .d-chocolate .d-grid-name {
        display: table;
        width: 100%;
        text-align: center;
        padding: 0; } }
    .d-chocolate .d-grid-name > a {
      background-color: #242424;
      color: #fff;
      display: block;
      height: 45px;
      line-height: 45px;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      letter-spacing: 1.39999997615814px;
      text-transform: uppercase; }
      @media (max-width: 37.5em) and (orientation: portrait) {
        .d-chocolate .d-grid-name > a {
          font-size: 10px;
          line-height: 15px;
          display: table-cell;
          vertical-align: middle;
          text-align: center; } }
    .d-chocolate .d-grid-name > a:hover {
      background-color: #0a0a0a; }
  .d-chocolate .column {
    margin-bottom: 25px; }
    @media (min-width: 48em) {
      .d-chocolate .column {
        width: 33.33%; } }
  .d-chocolate > table,
  .d-chocolate > .cms_plugin {
    width: 33.33% !important;
    margin-bottom: 25px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    _height: 15px; }
    @media only screen and (max-width: 70em) and (orientation: landscape) {
      .d-chocolate > table,
      .d-chocolate > .cms_plugin {
        width: 100% !important; }
        .d-chocolate > table *,
        .d-chocolate > .cms_plugin * {
          display: block; } }
    @media (max-width: 37.5em) and (orientation: portrait) {
      .d-chocolate > table,
      .d-chocolate > .cms_plugin {
        padding: 0px 2px; } }
    .d-chocolate > table td,
    .d-chocolate > .cms_plugin td {
      padding: 0 10px;
      text-align: center; }
      @media (max-width: 37.5em) and (orientation: portrait) {
        .d-chocolate > table td,
        .d-chocolate > .cms_plugin td {
          padding: 0 5px; } }
      @media (max-width: 37.5em) and (orientation: portrait) {
        .d-chocolate > table td,
        .d-chocolate > .cms_plugin td {
          display: table;
          width: 100%;
          text-align: center;
          padding: 0; } }
      .d-chocolate > table td > a,
      .d-chocolate > .cms_plugin td > a {
        background-color: #242424;
        color: #fff;
        display: block;
        height: 45px;
        line-height: 45px;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        letter-spacing: 1.39999997615814px;
        text-transform: uppercase; }
        @media (max-width: 37.5em) and (orientation: portrait) {
          .d-chocolate > table td > a,
          .d-chocolate > .cms_plugin td > a {
            font-size: 10px;
            line-height: 15px;
            display: table-cell;
            vertical-align: middle;
            text-align: center; } }
      .d-chocolate > table td > a:hover,
      .d-chocolate > .cms_plugin td > a:hover {
        background-color: #0a0a0a; }

.d-menu {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 30px; }
  @media (min-width: 48em) {
    .d-menu .d-more-info a {
      font-size: 130%; } }
  @media (min-width: 700px) and (orientation: landscape) {
    .d-menu .d-more-info a {
      font-size: 85%; } }

.restaurant-detail h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "open_sansregular";
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin-bottom: 4%;
  display: none; }

.restaurant-detail .menu > h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "open_sansregular";
  font-size: 50px;
  font-size: 5rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  color: #7D7E7D;
  margin-top: 0%; }

.checkin #registration-form .wrapper {
  padding-top: 1%; }

.checkin #registration-form .active-reservation > div {
  padding: 0% 1%;
  border: none; }

.checkin #registration-form .active-reservation h4 {
  text-transform: uppercase;
  color: #999;
  font-family: "open_sansregular";
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold; }

.checkin #registration-form .active-reservation h5 {
  font-family: "open_sansregular";
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold; }

.checkin #registration-form .already-member {
  font-family: "open_sansregular";
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin-bottom: 3%; }
  .checkin #registration-form .already-member a {
    font-size: 17px; }

.checkin #registration-form .form-content-wrapper > div {
  margin-bottom: 3%; }

.checkin #registration-form .form-content-wrapper .fname,
.checkin #registration-form .form-content-wrapper .passA {
  padding-right: 1%; }

.checkin #registration-form .form-content-wrapper .lname,
.checkin #registration-form .form-content-wrapper .passB {
  padding-left: 1%; }

.checkin #reservationDone h1 {
  text-align: center;
  margin-bottom: 1%; }

.checkin #reservationDone .active-reservation > div {
  padding: 0% 1%;
  border: none; }

.checkin #reservationDone .active-reservation h4 {
  text-transform: uppercase;
  color: #999;
  font-family: "open_sansregular";
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold; }

.checkin #reservationDone .active-reservation h5 {
  font-family: "open_sansregular";
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold; }

.checkin #reservationDone .reservconfirm {
  text-align: center; }

#checkin-response-admin h1 {
  text-align: center;
  text-transform: uppercase; }

#checkin-response-admin h4 {
  font-weight: bold; }

#checkin-response-admin .wrapper {
  width: 90%;
  margin: 0 auto; }

#checkin-response-admin .reservconfirm a {
  text-align: center; }

.isloading-wrapper.isloading-right {
  margin-left: 10px; }

.isloading-overlay {
  position: relative;
  text-align: center; }

.isloading-overlay .isloading-wrapper {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  top: 10%;
  z-index: 9000; }

.drawer-brand {
  font-size: 200%;
  color: #fff;
  padding: 15px 15px 0; }

#thankyou {
  text-align: center;
  padding-bottom: 2%; }
  #thankyou h1 {
    text-transform: uppercase; }

.a-donde-vamos img {
  width: 95%;
  margin: 0 auto; }

@media (max-width: 37.5em) and (orientation: portrait) {
  .drawer-hamburger {
    padding-top: 0px; } }

/* Pages */
.adondevamos {
  margin: 6% 0%; }
  @media (min-width: 48em) {
    .adondevamos {
      margin: 2% 0%; } }
  .adondevamos img {
    width: 90%;
    margin: 0 auto; }

.menu-home {
  padding: 6% 1%; }
  @media (min-width: 48em) {
    .menu-home {
      padding: 4% 1% 2% 0%; } }

#content > h2 {
  font-size: 95%; }
  @media (min-width: 48em) {
    #content > h2 {
      font-size: 160%;
      margin: 2% 0%; } }

.cms_plugin-2536 {
  margin-bottom: 4%; }

/* Vendors */
/* Themes */
/* Vendors */
