body{
  background-color: #fff;
  font-family: $ff;
  font-size: 14px;
  .cms_plugin{
    display: block;
  }
}
img{
  width: 100%;
  height: auto;
  display: block;
}
.d-hide{
  display: none;
}
.no-content{
  text-transform: uppercase;
  text-align: center;
}
.no-full{
  img{
    margin: 0 auto;
    width: 50%;
    @include breakpoint(medium){
      width: inherit;
    }
  }
}
.no-full-image{

}
#falta{
  margin-bottom: 2%;
}

.producttype{
  .d-menu{
    margin-top: 0;
  }
  .category-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 380% !important;
    margin: 0 !important;
    font-weight: normal;
  }
}
.bg-blank{
  background-color: #000;
}
.inner{
  padding: 0;
}
.cms_toolbar{
  overflow: hidden;
}
.column,
.cms_plugin-103,
.cms_plugin-244{
  padding: 0 10px;
}
.falta-block{
  clear: both;
}
.headerLeft{
  display: inline-block;
  vertical-align: middle;
  height:100%;
  text-align: left;
  #back{
    cursor: pointer;
    @include font-face(11);
    color: #cccccc;
    text-transform: uppercase;
    position: relative;
    top: 6px;
    @include breakpoint(medium){
      @include font-face(20);
      top: 17px;
    }
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
      @include font-face(10);
      letter-spacing: -0.5px;
    }
    @media (min-width: 700px) and (orientation: landscape) {
      top: 25px;
    }
    @include breakpoint(large){
      @include font-face(30);
      top: 20px;
    }
    img{
      width: 40px;
      height: auto;
      @include breakpoint(medium){
        width: 100px;
      }
      @include breakpoint(large){
        width: 150px;
      }
    }
  }
  #back:before{
    content: "\f104";
    display: block;
    font: normal normal normal 22px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include breakpoint(medium){
      font: normal normal normal 65px/1 FontAwesome;
    }
    @media (min-width: 700px) and (orientation: landscape) {
      font: normal normal normal 85px/1 FontAwesome;
    }
    @include breakpoint(large){
      font: normal normal normal 100px/1 FontAwesome;
    }
  }
}
.chocolate{
  .column{
    width: 100% !important;
    @include breakpoint(medium){
      width: 33.33% !important;
    }
    table{
      margin: 15px 0px;
      td{
        @include gridname();
      }
    }
  }
}
.d-chocolate{
  padding: 0;
  margin-top: 25px;
  font-size: 0;
  .d-grid-name{
    text-align: center;
    @include gridname();
  }
  .column{
    margin-bottom: 25px;
    @include breakpoint(medium){
      width: 33.33%;
    }
  }
  > table,
  > .cms_plugin {
    width: 33.33% !important;
    margin-bottom: 25px;
    @include inline-block;
    @include breakpoint(landscape){
      width: 100% !important;
      *{
        display: block;
      }
    }
    @include breakpoint(maxsmall){
      padding: 0px 2px;
    }    
    td{
      padding: 0 10px;
      @include breakpoint(maxsmall){
        padding: 0 5px;
      }
      @include gridname();
      text-align: center;
    }
  }
}
.d-menu{
  @extend %restaurantMenu;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 30px;
  .d-more-info{
    a{
      @include breakpoint(medium){
        font-size: 130%;
      }
      @media (min-width: 700px) and (orientation: landscape) {
        font-size: 85%;
      }
    }
  }
}
.restaurant-detail{
  h1{
    text-align: center;
    text-transform: uppercase;
    @include font-face(36, bold);
    margin-bottom: 4%;
    display: none;
  }
  .menu{
    @extend %restaurantMenu;
    > h2{
      text-align: center;
      text-transform: uppercase;
      @include font-face(50);
      color: #7D7E7D;
      margin-top: 0%;
    }
  }

}
.checkin{
  #checkin-form{
    @extend %processform;
  }
  #registration-form{
    @extend %processform;
    .wrapper{
      padding-top: 1%;
    }
    .active-reservation{
      > div{
        padding: 0% 1%;
        border: none;
      }
      h4{
        text-transform: uppercase;
        color: #999;
        @include font-face(15, bold);
      }
      h5{
        @include font-face(15, bold);
      }
    }
    .already-member{
      @include font-face(17, bold);
      a{
        font-size: 17px;
      }
      margin-bottom: 3%;
    }
    .form-content-wrapper{
      > div{
        margin-bottom: 3%;
      }
      .fname,
      .passA{
        padding-right: 1%;
      }
      .lname,
      .passB {
        padding-left: 1%;
      }
    }
  }
  #reservationDone{
    h1{
      text-align: center;
      margin-bottom: 1%;
    }
    .active-reservation{
      > div{
        padding: 0% 1%;
        border: none;
      }
      h4{
        text-transform: uppercase;
        color: #999;
        @include font-face(15, bold);
      }
      h5{
        @include font-face(15, bold);
      }
    }
    .reservconfirm{
      text-align: center;
    }
  }
}
#checkin-response-admin{
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  h4{
    font-weight: bold;
  }
  .wrapper{
    width: 90%;
    margin: 0 auto;
  }
  .reservconfirm{
    a{
      text-align: center;
    }
  }
}

.isloading-wrapper.isloading-right{margin-left:10px;}
.isloading-overlay{position:relative;text-align:center;}.isloading-overlay .isloading-wrapper{background:#FFFFFF;-webkit-border-radius:7px;-webkit-background-clip:padding-box;-moz-border-radius:7px;-moz-background-clip:padding;border-radius:7px;background-clip:padding-box;display:inline-block;margin:0 auto;padding:10px 20px;top:10%;z-index:9000;}

.drawer-brand{
  font-size: 200%;
  color: #fff;
  padding: 15px 15px 0;
}

#thankyou{
  text-align: center;
  padding-bottom: 2%;
  h1{
    text-transform: uppercase;
  }
}
.a-donde-vamos{
  img{
    width: 95%;
    margin: 0 auto;
  }
}
.drawer-hamburger{
  @include breakpoint(maxsmall){
    padding-top: 0px;
  }
}