{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}{{ data.detail.name }} - KIKO.LA{% endblock %}

{% block content %}
    <section class="restaurant-detail row">
        <div class="restaurant-banner">
            <div class="slider">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">
                {% for gallery in data.detail.slideshow %}
                    <!-- new slide -->
                    <div class="ms-slide">
                        <!-- slide background -->
                        <img src="{{ gallery }}filename.jpg">
                        <!-- slide text layer -->
                         <!--
                        <div class="ms-layer ms-caption" style="top:10px; left:30px;">
                            Lorem ipsum dolor sit amet
                        </div>-->
                    </div>
                    <!-- end of slide -->
                {% endfor %}
                </div>
                <!-- end of masterslider -->
                <h1>{{ data.detail.name }}</h1>
            </div>
        </div>
        <div class="menu">
            <h2>Plans</h2>
            {% if data.editorial %}
                {% for editorials in data.editorial %}
                    <div class="column chocolate col-xs-12 col-md-3 col-lg-3">
                        <div class="d-grid-image">
                            <img src="{{ editorials.image.url }}">
                        </div>
                        <div class="d-grid-name">
                            <h2 class="d-grid-title">{{ editorials.name }}</h2>
                        </div>
                        <div class="d-more-info row container">
                            <a href="{{ editorials.url }}" class="d-more col-xs-12 col-md-12 last">Read more</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="no-content">
                <h2>No such content to show.</h2>
            </div>
            {% endif %}
            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='19312383'></div>
        </div>
    </section>
    <div class="modal fade" id="d-location-modalbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">{{ data.detail.name }}: Plan location</h4>
          </div>
          <div class="modal-body">
            <p>{{ data.detail.name }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a href="check-in" type="button" class="btn btn-primary">Online Checkin</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
