.adondevamos{
  margin: 6% 0%;
  @include breakpoint(medium){
    margin: 2% 0%;
  }
  img{
    width: 90%;
    margin: 0 auto;
  }
}
.menu-home{
  @extend %menu-black;
  padding: 6% 1%;
  @include breakpoint(medium){
    padding: 4% 1% 2% 0%;
  }
}
#content{
  > h2{
    font-size: 95%;
    @include breakpoint(medium){
      font-size: 160%;
      margin: 2% 0%;
    }
  }
}
.cms_plugin-2536{
  margin-bottom: 4%;
}