{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}{{ ProductTypeData.type }} Restaurants - KIKO.LA{% endblock %}

{% block content %}
        <section id="content" class="checkin">
            {% if restaurantData.restaurant.reservationBanner != "0" %}
                <div class="banner-checkin row">
                    <img src="{{ restaurantData.restaurant.reservationBanner.url }}" alt="{{ restaurantData.restaurant.name }}">
                </div>
            {% else %}
                <div class="banner-checkin row">
                    <img src="{% static 'images/bannerHome.jpg' %}">
                </div>
            {% endif %}
            <div class="checkin-form-wrapper">
                <form id='checkin-form' method='post' action=''>
                    {% csrf_token %}
                    <h1>Reservation System</h1>
                    <div class="wrapper">
                        <div class="pick-people row">
                            <label class="col-xs-6" for="checkin-people">People</label>
                            <select class="col-xs-6" name="checkin-people" id="checkin-people">
                                <option value="1">1 Person</option>
                                <option value="2" selected>2 People</option>
                                <option value="3">3 People</option>
                                <option value="4">4 People</option>
                                <option value="5">5 People</option>
                                <option value="6">6 People</option>
                                <option value="7">7 People</option>
                                <option value="8">8 People</option>
                                <option value="9">9 People</option>
                                <option value="10">10 People</option>
                                <option value="0">More People</option>
                            </select>
                        </div>
                        <div class="pick-date row">
                            <label class="col-xs-6" for="checkin-date">Date</label>
                            <input class="col-xs-6" name="checkin-date" type="text" required>
                        </div>
                        <div class="pick-time row">
                            <label class="col-xs-6" for="checkin-time">time</label>
                            <input class="col-xs-6" name="checkin-time" type="text" required>
                        </div>
                    </div>
                    <div><input type='submit' value='Check In'/></div>
                </form>
            </div>
            <div class="complete-reservation-wrapper d-hide">
                {% if is_logged_in %}
                Thanks for logging in!
                {% else %}
                    <form id='registration-form' method="post" action='/en/restaurants/{{ restaurantData.name }}/{{ restaurantData.detail }}/{{ restaurantData.action }}/response/'>
                        {% csrf_token %}
                        <h1>Complete your Reservation</h1>
                        <div class="active-reservation row wrapper">
                            <div class="restoImagen col-xs-1 2 col-md-2">
                                <img src="{{ restaurantData.restaurant.image.url }}">
                            </div>
                            <div class="guest col-xs-6 col-md-2">
                                <h4>Guest</h4>
                                <h5>3 People</h5>
                            </div>
                            <div class="date col-xs-6 col-md-2">
                                <h4>Date</h4>
                                <h5>Oct 14</h5>
                            </div>
                            <div class="time col-xs-6 col-md-2">
                                <h4>Time</h4>
                                <h5>6:45 PM</h5>
                            </div>
                            <div class="restaurant col-xs-6 col-md-2">
                                <h4>Restaurant</h4>
                                <h5>{{ restaurantData.restaurant.name }}</h5>
                            </div>
                        </div>
                        <div class="already-member">
                            <span>Already a member?</span>
                            <span><a href="#" data-toggle="modal" data-target="#d-login-modalbox">Sign In</a></span>
                            <!--
                            <span><a href="#" data-featherlight="#d-login-modal">Sign In</a></span>
                            -->
                        </div>
                        <div class="form-content-wrapper">
                            <div class="name-row row">
                                <div class="fname inner col-xs-6">
                                    {{ restaurantData.form.fName }}
                                </div>
                                <div class="lname inner col-xs-6">
                                    {{ restaurantData.form.lName }}
                                </div>
                            </div>
                            <div class="email-row row">
                                {{ restaurantData.form.email }}
                            </div>
                            <div class="pass-row row">
                                <div class="passA inner col-xs-6">
                                    {{ restaurantData.form.password }}
                                </div>
                                <div class="passB inner col-xs-6">
                                    {{ restaurantData.form.rPassword }}
                                </div>
                            </div>
                            <div class="special-request row">
                                {{ restaurantData.form.sRequest }}
                            </div>
                            <div class="row"><input type='submit' value='Complete registration'/></div>
                            <div class="previousform d-hide">
                                {{ restaurantData.form.people }}
                                {{ restaurantData.form.date }}
                                {{ restaurantData.form.time }}
                            </div>
                        </div>
                    </form>


                    <div class="modal fade" id="d-login-modalbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Login to confirm your Reservation</h4>
                          </div>
                          <div class="modal-body">
                            <form id="d-login-modal" method="post" action='/en/restaurants/{{ restaurantData.name }}/{{ restaurantData.detail }}/{{ restaurantData.action }}/responseLogin/'>
                                <div class="form-group">
                                    <label for="emailLogin" class="control-label">Email:</label>
                                    {{ restaurantData.loginForm.emailLogin }}
                                </div>
                                <div class="form-group">
                                    <label for="passwordLogin" class="control-label">Password:</label>
                                    {{ restaurantData.loginForm.passwordLogin }}
                                </div>
                                <div class="d-hide">
                                    {{ restaurantData.loginForm.peopleLogin }}
                                    {{ restaurantData.loginForm.dateLogin }}
                                    {{ restaurantData.loginForm.timeLogin }}
                                    {{ restaurantData.loginForm.sRequestLogin }}
                                </div>
                                <div class="actions row">
                                    <input class="col-xs-6" type='submit' data-dismiss="modal" value='Close'/>
                                    <input class="right col-xs-6" type='submit' value='Complete reservation'/>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                {% endif %}
            </div>
            <div id="reservationDone" class="d-hide">
                <h1>Your Reservation wil be confirmed</h1>
                <div class="active-reservation row wrapper">
                    <div class="restoImagen col-xs-1 2 col-md-2">
                        <img src="{{ restaurantData.restaurant.image.url }}">
                    </div>
                    <div class="guest col-xs-6 col-md-2">
                        <h4>Guest</h4>
                        <h5>3 People</h5>
                    </div>
                    <div class="date col-xs-6 col-md-2">
                        <h4>Date</h4>
                        <h5>Oct 14</h5>
                    </div>
                    <div class="time col-xs-6 col-md-2">
                        <h4>Time</h4>
                        <h5>6:45 PM</h5>
                    </div>
                    <div class="restaurant col-xs-6 col-md-2">
                        <h4>Restaurant</h4>
                        <h5>{{ restaurantData.restaurant.name }}</h5>
                    </div>
                </div>
                <div class="reservconfirm">
                    <h2>Your reservation will be confirmed by email</h2>
                </div>
            </div>
        </section>
{% endblock %}
