<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Demystifying Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#010101" style="padding:0; color: #FFF; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                            <img width="453" height="92" src="http://kiko.la/media/mail/header.jpg" style="display: block;" alt="KIKO.LA">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 10px 15px 0px 15px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="padding: 0px 0px 0px 0px; color: #000; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;" align="center">
                                        <img width="86" height="73" src="http://kiko.la/media/mail/corazon.jpg" style="display: block;" alt="Corazon">
                                    </td>
                                    <td style="padding: 0px 0px 0px 0px; color: #000; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; border: solid 1px #000;" align="center" colspan="2">
                                        <p style="margin: 5px 0px;"><strong>RESTAURANTE {{ checkin.restaurant.name}}</strong></p>
                                        <p style="margin: 5px 0px;">RESERVA <span style="color:#660000;">{{ checkin.id }}</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0px; color: #000; font-family: Arial, sans-serif; font-size: 35px; line-height: 35px;" align="center" colspan="3">{{ checkin.user.first_name }} {{ checkin.user.last_name }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 0px 15px 20px 15px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="33%;" style="padding: 0px 5px; color: #000; font-family: Arial, sans-serif; font-size: 16px; line-height: 16px;" align="center"><p style="border: solid 1px #000; padding: 10px 0px; margin: 0px; text-transform: uppercase;"><strong>{{ checkin.checkinDate|date:"d F, Y" }}</strong></p></td>
                                    <td width="33%;" style="padding: 0px 5px; color: #000; font-family: Arial, sans-serif; font-size: 16px; line-height: 16px;" align="center"><p style="border: solid 1px #000; padding: 10px 0px; margin: 0px; text-transform: uppercase;"><strong>{{ checkin.checkinDate|date:"h:i A" }}</strong></p></td>
                                    <td width="33%;" style="padding: 0px 5px; color: #000; font-family: Arial, sans-serif; font-size: 16px; line-height: 16px;" align="center"><p style="border: solid 1px #000; padding: 10px 0px; margin: 0px; text-transform: uppercase;"><strong>{{ checkin.people }} PEOPLE</strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 0px 15px 15px 15px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td bgcolor="#990000" width="50%" align="center" style="padding: 0px;">
                                        <a target="_blank" style="width:100%; color: #FFF; font-family: Arial, sans-serif; font-size: 30px; line-height: 45px; text-decoration: none;" href="http://kiko.la/en/restaurants/{{ checkin.restaurant.city.machineName }}/{{ checkin.restaurant.machineName }}/check-in/rejected/{{ checkin.id }}/">RECHAZAR</a>
                                    </td>
                                    <td bgcolor="#009900" width="50%" align="center" style="padding: 0px;">
                                        <a target="_blank" style="width:100%; color: #FFF; font-family: Arial, sans-serif; font-size: 30px; line-height: 45px; text-decoration: none;" href="http://kiko.la/en/restaurants/{{ checkin.restaurant.city.machineName }}/{{ checkin.restaurant.machineName }}/check-in/approved/{{ checkin.id }}/">ACEPTAR</a>
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td align="center" colspan="2">-</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#000000" width="50%" style="color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; line-height: 35px;">KIKO KAIRUZ PUBLISHING CO.</td>
                                    <td align="center" bgcolor="#000000" width="50%" style="color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; line-height: 35px;">LLAMAR RESTAURANTE</td>
                                </tr>
                            </table>
                        </td>
                    </tr>                    
                </table>
            </td>
        </tr>
    </table>
</body>
</html>