{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}{{ ProductTypeData.type }} Reservation - KIKO.LA{% endblock %}

{% block content %}
    {% if restaurantData.Restaurant.reservationBanner != "0" %}
        <div class="banner-checkin row">
            <img src="{{ restaurantData.Restaurant.reservationBanner.url }}" alt="{{ restaurantData.Restaurant.name }}">
        </div>
    {% else %}
        <div class="banner-checkin row">
            <img src="{% static 'images/bannerHome.jpg' %}">
        </div>
    {% endif %}
    <div id="checkin-response-admin">
        <h1>THE RESERVATION HAS BEEN {{ restaurantData.response }}</h1>
        <div class="active-reservation row wrapper">
            <div class="restoImagen col-xs-1 2 col-md-2">
                <img src="{{ restaurantData.Restaurant.image.url }}">
            </div>
            <div class="guest col-xs-6 col-md-2">
                <h4>Guest</h4>
                <h5>{{ restaurantData.Checkin.people}} People</h5>
            </div>
            <div class="date col-xs-6 col-md-2">
                <h4>Date</h4>
                <h5>{{ restaurantData.Checkin.checkinDate|date:"d F, Y"}}</h5>
            </div>
            <div class="time col-xs-6 col-md-2">
                <h4>Time</h4>
                <h5>{{ restaurantData.Checkin.checkinDate|date:"h:i A"}}</h5>
            </div>
            <div class="restaurant col-xs-6 col-md-2">
                <h4>Restaurant</h4>
                <h5>{{ restaurantData.Restaurant.name }}</h5>
            </div>
        </div>
        <div class="reservconfirm">
            <a href="/" class="button">Go to the home page</a>
        </div>                      
    </div>            
{% endblock %}