{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}{{ ProductTypeData.type }} Restaurants - KIKO.LA{% endblock %}

{% block content %}
    <section class="restaurants-grid row container d-chocolate" id="content">
        {% if restaurants_list %}
        {% for restaurant in restaurants_list %}
            <div class="column chocolate col-xs-12 col-md-4 col-lg-4">
                <div class="d-grid-image d-grid-image">
                    <a href="/restaurants/{{ restaurant.city.machineName }}/{{ restaurant.machineName }}/">
                        <img class="img-responsive" src="{{ restaurant.image.url }}">
                    </a>
                </div>
                <div class="d-grid-name">
                    <a href="/restaurants/{{ restaurant.city.machineName }}/{{ restaurant.machineName }}/">
                        {{ restaurant.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
      {% else %}
        <p>No Restaurant are available.</p>
      {% endif %}
      <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='19312383'></div>
    </section>
    <!--
    <section id="falta">
        <a title="Falta su negocio" href="/features"><img src="{% static "images/falta-su-negocio.jpg" %}"></a>
    </section>
    -->
{% endblock %}