{% extends 'base.html' %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block title %}{{ ProductTypeData.type }} {{ restaurantData.restaurant.name }} - KIKO.LA{% endblock %}

{% block content %}
        <section class="restaurant-detail row">
            <div class="restaurant-banner">
                <div class="slider">
                    <!-- masterslider -->
                    <div class="master-slider ms-skin-default" id="masterslider">
                    {% for gallery in restaurantData.restaurant.mainGallery %}
                        <!-- new slide -->
                        <div class="ms-slide">
                            <!-- slide background -->
                            <img src="{{ gallery }}filename.jpg">
                            <!-- slide text layer -->
                             <!--
                            <div class="ms-layer ms-caption" style="top:10px; left:30px;">
                                Lorem ipsum dolor sit amet
                            </div>-->
                        </div>
                        <!-- end of slide -->
                    {% endfor %}
                    </div>
                    <!-- end of masterslider -->
                    <h1>{{ restaurantData.restaurant.name }}</h1>
                </div>
                <!--
                <div class="features-menu">
                    <ul>
                        <li class="col-xs-12 col-md-3"><a href="check-in">Check in now</a></li>
                        <li class="col-xs-12 col-md-3"><a href="share">Add to Wishlist</a></li>
                        <li class="col-xs-12 col-md-3"><a href="view_order">Location</a></li>
                        <li class="col-xs-12 col-md-3"><a href="view_order">Taxi</a></li>
                    </ul>
                </div>
                -->
                <div class="features-menu">
                    <ul>
                        <li class="col-xs-12 col-md-6"><a href="check-in">Online check-in</a></li>
                        <li class="col-xs-12 col-md-6"><a href="https://www.google.com/maps/place/Mila+Vargas/@10.4249312,-75.5511053,15z/data=!4m2!3m1!1s0x0:0xb33d207231b125e5">Location</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <h2>Menu</h2>
                {% if restaurantData.products %}
                    {% for products in restaurantData.products %}
                        <div class="column chocolate col-xs-12 col-md-3 col-lg-3">
                            <div class="d-grid-image">
                                <img src="{{ products.image.url }}">
                            </div>
                            <div class="d-grid-name">
                                <h2 class="d-grid-title">{{ products.name }}</h2>
                                <div class="product-desc">
                                    <p class="product-rest">
                                        {{ products.restaurant }}
                                    </p>
                                    <p class="product-type">
                                        {{ products.product_type }}
                                    </p>
                                </div>
                            </div>
                            <div class="d-more-info row container">
                                <a href="#" class="d-more col-xs-6 col-md-6 first" data-featherlight="#d-ingredients{{ products.id }}">+ INFO </a>
                                <a href="check-in" class="d-more col-xs-6 col-md-6 last">ORDER</a>
                            </div>
                            <div id="d-ingredients{{ products.id }}" class="d-hide">
                                <h2>Ingredients</h2>
                                <div class="d-ingredients-content">
                                    {{ products.ingredients }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="no-content">
                    <h2>No such content to show.</h2>
                </div>
                {% endif %}
                <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='19312383'></div>
            </div>
        </section>
        <div class="modal fade" id="d-location-modalbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">{{ restaurantData.restaurant.name }}: Restaurant location</h4>
              </div>
              <div class="modal-body">
                <p>{{ restaurantData.restaurant.location }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="check-in" type="button" class="btn btn-primary">Online Checkin</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
