@font-face {
  font-family: 'oxygenregular';
  src: url('../../fonts/oxygen-webfont.eot');
  src: url('../../fonts/oxygen-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/oxygen-webfont.woff2') format('woff2'),
       url('../../fonts/oxygen-webfont.woff') format('woff'),
       url('../../fonts/oxygen-webfont.ttf') format('truetype'),
       url('../../fonts/oxygen-webfont.svg#oxygenregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../../fonts/opensans-regular-webfont.eot');
    src: url('../../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../../fonts/opensans-semibold-webfont.eot');
  src: url('../../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../../fonts/opensans-semibold-webfont.woff') format('woff'),
       url('../../fonts/opensans-semibold-webfont.ttf') format('truetype'),
       url('../../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
a{
  @include font-face(13);
}
h1{
  @include font-face(26, bold);
}
h2{
 @include font-face(16, bold);
}
a:hover{
  text-decoration: none;
}
