.button{
  background-color: #000;
  color: #fff;
  border: none;
  width: 40%;
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  @include font-face(18, bold);
  text-transform: uppercase;
  padding: 1% 0%;
  @include border-radius(5px);
  margin-bottom: 3%;
}
input[type="submit"]{
  @extend .button;
}