%processform{
  width: 80%;
  margin: 0 auto;
  h1{
    text-align: center;
  }
  .wrapper{
    border: solid 1px #000;
    margin: 3% 0%;
    @include border-radius(7px);
    > div{
      border-bottom: solid 1px #000;
      padding: 2% 0%;
      position: relative;
      label{
        text-transform: uppercase;
        @include font-face(16, bold);
        padding-left: 3%;
        line-height: 42px;
      }
    }
    > div:last-child{
      border-bottom: none;
    }
  }
}

input,
select,
textarea{
  padding: 1rem;
  -webkit-appearance: none!important;
  outline: 0;
  font-weight: 600;
  display: block;
  background: #fff;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 3px;
  width: 100%;
}

#d-login-modal{
  .actions{
    input{
      width: 48%;
      font-size: 100%;
    }
    .right{
      float: right;
    }
  }
}

#contactform{
  @extend %processform;
}