.features-menu{
  @include inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      margin-bottom: 1%;
      @include inline-block;
      vertical-align: top;
      @include gridname;
      a{
        padding: 0 10%;
      }
    }
  }
}
.footer-menu{
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    @include inline-block;
    margin-right: 30px;
    a{
      color: #fff;
      text-transform: uppercase;
      font-family: 'open_sanssemibold';
      font-weight: normal;
      line-height: 40px;
      font-size: 90%;
      margin: 0;
      @include breakpoint(medium){
        font-size: 120%;
        margin-bottom: 0%;
      }      
    }
  }
}
%menu-black{
  background-color: #FFF;
  width: 100%;
  list-style-type: none;
  padding: 0% 1%;
  margin-top: 5%;
  li{
    padding: 0% 1%;
    @include breakpoint(medium){
      padding: 0 15px;
    }
    a{
      background-color: #000;
      color: #FFF;
      display: block;
      text-align: center;
      padding: 4% 0%;
      @include font-face(12);
      @include breakpoint(medium){
        @include font-face(20);
      }
    }
  }
}
.topmenu{
  margin-top: 7px;
  position: relative;
  right: 5px;
  @include breakpoint(medium){
    right: 0;
    margin-top: 20px;
  }
  @media (min-width: 700px) and (orientation: landscape) {
    margin-top: 30px;
  }
  @include breakpoint(large){
    margin-top: 40px;
  }
  #topmenu-call{
    @include font-face(11);
    color: #cccccc;
    text-transform: uppercase;
    @include breakpoint(medium){
      @include font-face(20);
    }
    @include breakpoint(large){
      @include font-face(30);
    }
  }
  #topmenu-call:before{
    content: "\f0c9";
    font: normal normal normal 22px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: block;
    @include breakpoint(medium){
      font: normal normal normal 65px/1 FontAwesome;
    }
    @media (min-width: 700px) and (orientation: landscape) {
      font: normal normal normal 85px/1 FontAwesome;
    }
    cursor: pointer;
  }
  .top-menu{
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

%restaurantMenu{
  .chocolate{
    margin-bottom: 1.5%;
    h2{
      margin: 2% 0%;
      margin-bottom: 0%;
      font-size: 160%;
      @include breakpoint(medium){
        font-size: inherit;
      }
    }
    p{
      margin-bottom: 0%;
      font-size: 140%;
      @include breakpoint(medium){
        font-size: inherit;
      }
    }
    a{
      padding: 0;
      text-align: center;
      font-weight: bold;
      font-size: 100%;
      padding: 0% 5%;
      @include breakpoint(medium){
        font-size: 130%;
        padding: 0%;
      }
      @media (min-width: 700px) and (orientation: landscape) {
        font-size: 85%;
      }
    }
    a.last{
      border-right: none;
    }
    .d-more-info{
      text-align: center;
      margin: 0 auto;
      margin-top: 2%;
      width: 100%;
      font-size: 90%;
      @include breakpoint(medium){
        font-size: 80%;
        padding: 0%;
        width: 100%;
      }
      @include breakpoint(large){
        font-size: 90%;
      }
      a{
        background: #000;
        color:#fff;    
        padding: 2% 0%;    
      }
      a.first{
        border-right: solid 2px #fff;
      }
      a.last{
        border-left: solid 2px #fff;
      }      
    }
    .d-grid-name{
      text-align: center;
    }
  }
}
