{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "plugin/masterslider/style/masterslider.css" %}">
        <link rel="stylesheet" href="{% static "plugin/masterslider/skins/default/style.css" %}">
        <link rel="stylesheet" href="{% static "plugin/pickadate.js/themes/default.css" %}">
        <link rel="stylesheet" href="{% static "plugin/pickadate.js/themes/default.date.css" %}">
        <link rel="stylesheet" href="{% static "plugin/pickadate.js/themes/default.time.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/2.4.0/css/drawer.min.css">
        <link href="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static "css/main.min.css" %}">
        {% render_block "css" %}
    </head>
    <body class="base drawer drawer-right">
        {% cms_toolbar %}
        <header>
            {% static_placeholder 'header' %}
        </header>
        <section class="row" id="content">
            {% block content %}{% endblock content %}
        </section>
        <footer>
            {% static_placeholder 'footer' %}
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.1/iscroll-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/2.4.0/js/jquery.drawer.min.js"></script>
        <script src="{% static "js/vendor/jquery.cookie.js" %}"></script>
        <script src="{% static "js/vendor/jstorage.js" %}"></script>
        <script src="{% static "js/vendor/shareholic.js" %}"></script>
        <script src="{% static "js/vendor/jquery.isloading.js" %}"></script>
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "plugin/masterslider/masterslider.min.js" %}"></script>
        <script src="{% static "plugin/pickadate.js/picker.js" %}"></script>
        <script src="{% static "plugin/pickadate.js/picker.date.js" %}"></script>
        <script src="{% static "plugin/pickadate.js/picker.time.js" %}"></script>
        <script src="{% static "js/custom.js" %}"></script>
        {% render_block "js" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73902051-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
