{% load cms_tags staticfiles sekizai_tags menu_tags %}<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}KIKO.LA - Restaurants{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "plugin/masterslider/style/masterslider.css" %}">
        <link rel="stylesheet" href="{% static "plugin/masterslider/skins/default/style.css" %}">
        <link rel="stylesheet" href="{% static "plugin/featherlight/featherlight.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        {% render_block "css" %}
    </head>
    <body class="dashboard">
        <header>
            {% static_placeholder 'header' %}
        </header>
        <section id="content">
            {{ signupData }}
        </section>
        <footer>
            {% static_placeholder 'footer' %}
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% render_block "js" %}
    </body>
</html>
