{% extends 'base.html' %}
{% block title %}{{ ProductTypeData.type }} - KIKO.LA{% endblock %}

{% block content %}
    <section class="restaurants-grid row container d-chocolate" id="content">
        {% if restaurants_types %}
        {% for types in restaurants_types %}
            <div class="column chocolate col-xs-12 col-md-4 col-lg-4">
                <div class="d-grid-image">
                    <a href="/types/{{ types.machineName }}/">
                        <img src="{{ types.image.url }}">
                    </a>
                </div>
                <div class="d-grid-name">
                    <a href="/types/{{ types.machineName }}/">
                        {{ types.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
      {% else %}
        <p>No Restaurant types are available.</p>
      {% endif %}
      <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='19312383'></div>
    </section>
{% endblock %}