{% extends 'base.html' %}
{% block title %}{{ ProductTypeData.type }}  - KIKO.LA{% endblock %}

{% block content %}
    <div id="restaurant-product-type" class="d-menu producttype">
        <h2 class="category-title">{{ ProductTypeData.type }}</h2>
        {% if ProductTypeData.ProductType %}
            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='19312383'></div>
            {% for products in ProductTypeData.ProductType %}
                <div class="column chocolate col-xs-12 col-md-3 col-lg-3">
                    <div class="d-grid-image">
                        <img src="{{ products.image.url }}">
                    </div>
                    <div class="d-grid-name">
                        <h2 class="d-grid-title">{{ products.name }}</h2>
                        <div class="product-desc">
                            <p class="product-rest">
                                {{ products.restaurant }}
                            </p>
                            <p class="product-type">
                                {{ products.product_type }}
                            </p>
                        </div>
                    </div>
                    <div class="d-more-info row container">
                        <a href="#" class="d-more col-xs-6 col-md-6 first" data-featherlight="#d-ingredients-{{ products.id }}">+ INFO </a>
                        <a class="d-more col-xs-6 col-md-6 last" href="/restaurants/{{ products.restaurant.city.machineName }}/{{ products.restaurant.machineName }}/" class="d-more">RESTAURANT</a>
                    </div>
                    <div id="d-ingredients-{{ products.id }}" class="d-hide">
                        <h2>Ingredients</h2>
                        <div class="d-ingredients-content">
                            {{ products.ingredients }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-content">
                <h2>No such content to show.</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
