/* Breakpoints */
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 48em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em) { @content; }
  }
  @else if $point == maxsmall {
    @media (max-width: 37.5em) and (orientation: portrait) { @content; }
  }  
  @else if $point == landscape {
    @media only screen and (max-width: 70em) and (orientation: landscape) { @content; }
  }  
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin gridname(){
  @include breakpoint(maxsmall){
    display: table;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  > a{
    background-color: $choc-button;
    color: #fff;
    display: block;
    height: 45px;
    line-height: 45px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: 1.39999997615814px;
    text-transform: uppercase;
    @include breakpoint(maxsmall){
      font-size: 10px;
      line-height: 15px;
      display: table-cell; 
      vertical-align: middle; 
      text-align: center;       
    }    
  }
  > a:hover{
    background-color: darken($choc-button, 10%);
  }
}
/* Font size */
// Sets up the base 10 stuff
html { font-size: 62.5%; }
$default-line-height: 1.5 !default;
$default-font-smoothing: subpixel-antialiased !default;

@mixin font-face($size, $weight: normal){
  font-family: $ff;
  @include font-size($size);
  letter-spacing: 1.39999997615814px;
  -webkit-font-smoothing: antialiased;
  font-weight: $weight;
}
@function px-to-rem($size) {
  @return ($size / 10) + rem;
}
@mixin font-size($fs: false, $lh: $default-line-height, $sm: $default-font-smoothing ) {
 @if $fs {
    font-size: $fs  + px;
    font-size: px-to-rem($fs);
  }
  @if $lh { line-height: $lh; }
  @if $sm { -webkit-font-smoothing: $sm; }
}

@mixin inline-block {
  display: -moz-inline-stack; // ff 2
  display: inline-block;
  zoom:1; *display: inline; _height: 15px; // ie 6-7
}

// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}
